webproj/app/data/moviesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies" type="moviesType"/>
  <xs:complexType name="titleType">
    <xs:sequence>
      <xs:element name="name" type="minLength"/>
      <xs:element type="xs:integer" name="year"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="minLength">
      <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
      </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element name="first_name" type="minLength"/>
      <xs:element name="last_name" type="minLength"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="nameType" name="name"/>
      <xs:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="main_actorsType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="castType">
    <xs:sequence>
      <xs:element type="main_actorsType" name="main_actors"/>
    </xs:sequence>
    <xs:attribute type="xs:integer" name="fb_likes" use="optional"/>
  </xs:complexType>
  <xs:complexType name="directorType">
    <xs:sequence>
      <xs:element type="personType" name="person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genresType">
    <xs:sequence>
      <xs:element name="genre" maxOccurs="unbounded" minOccurs="1">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Action"/>
                <xs:enumeration value="Adventure"/>
                <xs:enumeration value="Fantasy"/>
                <xs:enumeration value="Sci-Fi"/>
                <xs:enumeration value="Thriller"/>
                <xs:enumeration value="Romance"/>
                <xs:enumeration value="Animation"/>
                <xs:enumeration value="Comedy"/>
                <xs:enumeration value="Family"/>
                <xs:enumeration value="Musical"/>
                <xs:enumeration value="Mystery"/>
                <xs:enumeration value="Western"/>
                <xs:enumeration value="Drama"/>
                <xs:enumeration value="History"/>
                <xs:enumeration value="Sport"/>
                <xs:enumeration value="Crime"/>
                <xs:enumeration value="Horror"/>
                <xs:enumeration value="War"/>
                <xs:enumeration value="Biography"/>
                <xs:enumeration value="Music"/>
                <xs:enumeration value="Documentary"/>
                <xs:enumeration value="Film-Noir"/>
            </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rate">
      <xs:restriction base="xs:string">
          <xs:enumeration value="PG-13"/>
          <xs:enumeration value="PG"/>
          <xs:enumeration value="G"/>
          <xs:enumeration value="R"/>
          <xs:enumeration value="Approved"/>
          <xs:enumeration value="NC-17"/>
          <xs:enumeration value="X"/>
          <xs:enumeration value="Not Rated"/>
          <xs:enumeration value="Unrated"/>
          <xs:enumeration value="M"/>
          <xs:enumeration value="GP"/>
          <xs:enumeration value="Passed"/>
      </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="movieType">
    <xs:sequence>
      <xs:element type="titleType" name="title"/>
      <xs:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="castType" name="cast"/>
      <xs:element type="directorType" name="director"/>
      <xs:element type="genresType" name="genres"/>
      <xs:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="color" use="optional"/>
    <xs:attribute type="rate" name="rating" use="optional"/>
    <xs:attribute type="xs:string" name="country" use="optional"/>
    <xs:attribute type="xs:string" name="language" use="optional"/>
    <xs:attribute type="xs:string" name="aspect_ratio" use="optional"/>
    <xs:attribute type="xs:integer" name="duration" use="required"/>
    <xs:attribute type="xs:integer" name="budget" use="optional"/>
    <xs:attribute type="xs:integer" name="fb_likes" use="optional"/>
    <xs:attribute type="xs:string" name="gross" use="optional"/>
    <xs:attribute type="xs:integer" name="num_user_for_reviews" use="optional"/>
    <xs:attribute type="xs:integer" name="facenumber_in_poster" use="optional"/>
  </xs:complexType>
  <xs:complexType name="moviesType">
    <xs:sequence>
      <xs:element type="movieType" name="movie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>